header input{
    min-width: 286px;
    min-height: 31px;
    border-radius: 10px;
    border: 1px solid #000;
    padding-left: 7px;
    background: none;
}

header{
    background: #DEDCDC;
}

header a{
    text-decoration: none;
    color: #000;
    transition: color 0.2s;
    font-size: 24px;
}

header a:hover{
    color: #6005d7;
}

.hd1{
    min-width: 45%;
}

.hd2, .hd3{
    min-width: 15%;
}